@media screen and (min-width: 400px) {
  #login-form {
    text-align: center;
  }

  #clock {
    margin-top: 150px;
    text-align: center;

    font-size: 80px;
    color: white;
  }

  #login-form input {
    padding: 10px 20px 10px 20px;
    border: 2px solid rgb(67, 255, 130);
    border-radius: 15px 3px 3px 15px;

    background-color: white;
  }

  #login-form button {
    padding: 10px 13px 10px 13px;
    border-radius: 3px 15px 15px 3px;
    border: 2px solid rgb(67, 255, 130);

    background-color: white;
  }

  #greeting {
    text-align: center;

    font-size: 45px;
    color: white;

    margin-top: -45px;
  }

  #log-out {
    position: absolute;
    top: 7px;
    left: 7px;

    background-color: rgb(255, 88, 88);
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: white;
  }

  #todo-form {
    text-align: center;
  }

  #todo-form input {
    padding: 20px 40px 20px 40px;
    background: none;

    border: none;
    border-bottom: 2px solid white;
  }

  .todo-mate-form {
    text-align: center;
    margin-top: 20px;
  }

  .todo-mate {
    color: white;
  }

  #todo-list {
    margin-left: -110px;
    text-align: center;
    margin-top: 30px;
    color: white;
  }

  #quote {
    position: absolute;
    top: 93%;
    left: 15%;
    padding-left: 5px;
    color: white;
  }

  #quote span:last-child {
    font-weight: 600;
  }

  #todo-list li button {
    margin-left: 10px;

    background-color: white;
    border: 3px solid rgb(63, 63, 63);
    border-radius: 50%;
  }

  #weather {
    position: absolute;
    top: 14px;
    left: 90%;
  }
}
